.lineup-cell-engine {
  display: flex;

  > header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    > * {
      flex: 0 0 50px;
    }
  }

  > aside {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    > * {
      flex: 1 1 50px;
    }
  }

  > main {
    flex: 1 1 auto;
    overflow: auto;
  }

  [data-node=leaf] {
    > * {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  [data-node=inner] {
    display: inline-block;

    > * {
      display: inline-block;
    }
  }
}
