@import './vars';
@import './import_once';

@include exports('lineupengine/animation') {
  #{$engine_selector} {
    .loading {
      background: $engine_loading_static_image center contain repeat no-repeat;
      background-blend-mode: overlay;

      > * {
        opacity: 0;
      }
    }

    &.animated {
      > header > article > *,
      > main > article > div > * {
        transition: opacity 0.5s;
        opacity: 1;
      }

      .loading {
        background-image: $engine_loading_image;
      }
    }

    > main.le-scrolling {
      background-image: $engine_loading_static_image, $engine_loading_static_image;
      background-repeat: repeat-x;
      background-position: top 10px left, bottom 30px left;
      position: relative;
    }

    article.le-row-animation {
      /**
      defaults
       */
      > * {
        overflow: hidden !important;
        transition: all $engine_animation_update_duration $engine_animation_ease;
        will-change: transform, opacity, height;

        &[data-animation=show] {
          transition: all $engine_animation_show_duration $engine_animation_ease;
        }

        &[data-animation=hide] {
          transition: all $engine_animation_hide_duration $engine_animation_ease;
        }

        * {
          overflow: hidden !important;
        }
      }

      /**
      in case of hiding shift update and show
       */
      &.le-hide-animation > * {
        transition: all $engine_animation_update_duration $engine_animation_ease $engine_animation_hide_duration + $engine_animation_pause;

        &[data-animation=hide] { // since order
          transition: all $engine_animation_hide_duration $engine_animation_ease;
        }

        &[data-animation=show] {
          transition: all $engine_animation_show_duration $engine_animation_ease $engine_animation_hide_duration + $engine_animation_pause;
        }
      }

      /**
      in case of update shift show
       */
      &.le-update-animation > * {
        &[data-animation=show] {
          transition: all $engine_animation_show_duration $engine_animation_ease $engine_animation_update_duration + $engine_animation_pause;
        }
      }

      /**
      in case of both update and hide shift show twice
       */
      &.le-update-animation.le-hide-animation > * {
        &[data-animation=show] {
          transition: all $engine_animation_show_duration $engine_animation_ease $engine_animation_hide_duration + $engine_animation_pause + $engine_animation_update_duration + $engine_animation_pause;
        }
      }
    }
  }
}
