@import "./vars";

.loading {
  background: $engine_loading_static_image center contain repeat no-repeat;
  background-blend-mode: overlay;

  > * {
    opacity: 0;
  }
}

&.animated {
  > header > article > *,
  > main > article > div > * {
    transition: opacity 0.5s;
    opacity: 1;
  }

  .loading {
    background-image: $engine_loading_image;
  }
}

article.le-row-animation > * {
  transition: all 1s ease-in-out;

  &:not(.le-row-removed) {
    z-index: 1; // such that surviving will be on top
  }
}
