@import './vars';
@import './import_once';

@include exports('lineupengine/animation') {
  .#{$engine_css_prefix}-loading {
    background: $engine_loading_static_image repeat-x center/contain !important;
    background-blend-mode: overlay !important;
    color: transparent !important;

    > * {
      opacity: 0 !important;
    }

    &.#{$engine_css_prefix}-td {
      background-repeat: no-repeat !important;
    }
  }

  .#{$engine_css_prefix} {
    &.#{$engine_css_prefix}-animated {
      .#{$engine_css_prefix}-th,
      .#{$engine_css_prefix}-tr {
        transition: opacity 0.5s;
        opacity: 1;
      }

      .#{$engine_css_prefix}-loading {
        background-image: $engine_loading_image;
      }
    }

    > main.#{$engine_css_prefix}-scrolling {
      background-image: $engine_loading_static_image, $engine_loading_static_image;
      background-repeat: repeat-x;
      background-position:
        top 10px left,
        bottom 30px left;
      position: relative;
    }
  }

  article.#{$engine_css_prefix}-row-animation {
    > .#{$engine_css_prefix}-tr {
      overflow: hidden !important; // defaults
      transition: all $engine_animation_update_duration $engine_animation_ease;
      will-change: transform, opacity, height;

      &[data-animation='show'] {
        transition: all $engine_animation_show_duration $engine_animation_ease;
      }

      &[data-animation='hide'] {
        transition: all $engine_animation_hide_duration $engine_animation_ease;
      }

      > * {
        overflow: hidden !important;
      }
    }

    &.#{$engine_css_prefix}-hide-animation > .#{$engine_css_prefix}-tr {
      // in case of hiding shift update and show
      transition: all $engine_animation_update_duration $engine_animation_ease $engine_animation_hide_duration +
        $engine_animation_pause;

      &[data-animation='hide'] {
        // since order
        transition: all $engine_animation_hide_duration $engine_animation_ease;
      }

      &[data-animation='show'] {
        transition: all $engine_animation_show_duration $engine_animation_ease $engine_animation_hide_duration +
          $engine_animation_pause;
      }
    }

    &.#{$engine_css_prefix}-update-animation > .#{$engine_css_prefix}-tr {
      &[data-animation='show'] {
        // in case of update shift show
        transition: all $engine_animation_show_duration $engine_animation_ease $engine_animation_update_duration +
          $engine_animation_pause;
      }
    }

    &.#{$engine_css_prefix}-update-animation.#{$engine_css_prefix}-hide-animation > .#{$engine_css_prefix}-tr {
      &[data-animation='show'] {
        // in case of both update and hide shift show twice
        transition: all $engine_animation_show_duration $engine_animation_ease $engine_animation_hide_duration +
          $engine_animation_pause + $engine_animation_update_duration + $engine_animation_pause;
      }
    }
  }
}
