@import './vars';
@import './mixins';
@import './import_once';
@import './animation';

@include exports('lineupengine') {
  .#{$engine_css_prefix} {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
  }

  .#{$engine_css_prefix}-header {
    flex: 0 0 auto;
    overflow-x: hidden;
    margin-bottom: 3px;
    padding-bottom: 1px;
    transform: translate3d(0, 0, 2px);

    @supports (-moz-appearance: meterbar) {

      // firefox only
      overflow-y: hidden;
    }
  }

  .#{$engine_css_prefix}-body {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;

    &.#{$engine_css_prefix}scrolling > article > .#{$engine_css_prefix}-tr {
      &:hover,
      &.#{$engine_css_prefix}-highlighted {
        box-shadow: unset !important;
      }
    }
  }

  .#{$engine_css_prefix}-header,
  .#{$engine_css_prefix}-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    scroll-behavior: auto;
  }

  .#{$engine_css_prefix}-thead {
    display: flex;
  }

  .#{$engine_css_prefix}-tr {
    display: flex;
    position: relative;
    box-sizing: border-box;
    transform: translateZ(0);

    &:hover,
    &.#{$engine_css_prefix}-highlighted {
      @include collapsing-row-border($engine_row_outline_width, $engine_row_outline_color);
    }

    &.#{$engine_css_prefix}-even {
      background-clip: content-box;
      background-color: $engine_even_color;
    }
  }

  .#{$engine_css_prefix}-tbody {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    overflow: visible;
  }

  .#{$engine_css_prefix}-td,
  .#{$engine_css_prefix}-th {
    &.#{$engine_css_prefix}-shifted.#{$engine_css_prefix}-frozen {
      position: sticky;
      background-color: white;
      z-index: 1;
    }
  }

  .#{$engine_css_prefix}-even > .#{$engine_css_prefix}-td.#{$engine_css_prefix}-shifted.#{$engine_css_prefix}-frozen {
    background-color: $engine_even_color;
  }

  .#{$engine_css_prefix}-td {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .#{$engine_css_prefix}-footer {
    transition: none !important;
    height: 1px !important;
    width: 1px;
    left: -1px;
    visibility: hidden;
  }

  .#{$engine_css_prefix}-scrollbar-tester {
    position: absolute;
    top: -10000px;
    left: -10000px;
    overflow: auto;
    width: 100px;
    height: 100px;

    > div {
      width: 200px;
      height: 200px;
      overflow: auto;
    }
  }

  #{$engine_selector}-scrollbar-tester {
    position: absolute;
    top: -10000px;
    left: -10000px;
    overflow: auto;
    width: 100px;
    height: 100px;

    > div {
      width: 200px;
      height: 200px;
      overflow: auto;
    }
  }
}
