@import "./vars";

#{$engine_selector} {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;

  > header {
    flex: 0 0 auto;
    overflow-x: hidden;
    margin-bottom: 3px;
  }

  > main {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  > header,
  > main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    > article {
      flex: 0 0 auto;
    }
  }

  > header > article,
  > main > article > div {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-column-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    justify-items: stretch;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;

      &.frozen {
        background-color: white;
        z-index: 1;
      }
    }
  }

  > main:not(.scrolling) > article > div {
    /* use box-shadow to create collapsing border (@see https://stackoverflow.com/a/28807765) */

    /* box-shadow:
      2px 0 0 0 #eee,
      0 2px 0 0 #eee,
      2px 2px 0 0 #eee,
      2px 0 0 0 #eee inset,
      0 2px 0 0 #eee inset; */

    padding-top: 2px;

    &:hover {
      position: relative;
      z-index: 2;
      box-shadow:
        -2px 0 0 0 $engine_hover_color,
        0 2px 0 0 $engine_hover_color,
        /* next line just to fix the corner */
        2px 2px 0 0 $engine_hover_color,
        2px 0 0 0 $engine_hover_color inset,
        0 2px 0 0 $engine_hover_color inset;

      > *.frozen {
        position: relative;
        z-index: 2;
        box-shadow:
          2px 0 0 0 $engine_hover_color,
          0 2px 0 0 $engine_hover_color,
          /* next line just to fix the corner */
          2px 2px 0 0 $engine_hover_color,
          2px 0 0 0 $engine_hover_color inset,
          0 2px 0 0 $engine_hover_color inset;
      }
    }
  }

  &:not(.ms-edge) > header > article,
  &:not(.ms-edge) > main > article > div {
    > .frozen { // frozen one
      position: sticky;
      left: 0;
    }
  }

  @import './animation';
}
