@import './vars';
@import './mixins';
@import './import_once';
@import './animation';

@include exports('lineupengine') {
  #{$engine_selector} {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    > header {
      flex: 0 0 auto;
      overflow-x: hidden;
      margin-bottom: 3px;
      padding-bottom: 1px;
      transform: translate3d(0, 0, 2px);

      @supports (-moz-appearance: meterbar) {

        // firefox only
        overflow-y: hidden;
      }

      > :last-child {
        margin-right: 5px; // scroll bar?
      }
    }

    > main {
      flex: 1 1 auto;
      overflow: auto;
    }

    > header,
    > main {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      scroll-behavior: auto;

      > * {
        flex: 0 0 auto;
      }
    }

    > main > article {
      display: table;
      border-collapse: collapse;
    }

    > header > article,
    > main > article > div {
      display: table-row;

      > .frozen {
        position: sticky;
        left: 0;
        background-color: white;
        z-index: 1;
      }

      > * {
        display: table-cell;
      }
    }

    > main > article > div {
      position: relative;
      background: white;
      background-clip: content-box;
      border-top: 2px solid white;
    }

    > main:not(.scrolling) > article > div {
      &:hover > *,
      &.le-highlighted > * {
        border-top: $engine_row_outline_width solid $engine_row_outline_color;
        border-bottom: $engine_row_outline_width solid $engine_row_outline_color;
      }
    }

    > main > footer {
      transition: none !important;
      height: 1px !important;
      width: 1px;
      visibility: hidden;
    }

    &#{$engine_selector}-striped > main > article {
      &:not(.odd) > div:nth-child(even),
      &.odd > div:nth-child(odd),
      &:not(.odd) > div:nth-child(even) > .frozen,
      &.odd > div:nth-child(odd) > .frozen {
        background-color: $engine_even_color;
      }
    }
  }

  #{$engine_multi_selector} {
    > header,
    > main {
      display: grid;
    }
  }
}
