> main {
  > .slopegraph {
    background-color: steelblue;
  }
}

> header,
> main {
  > .slopegraph {
    flex: 0 0 auto;
    width: 200px;
    min-height: 1px;
  }
}

&:not(.ms-edge) > main > .slopegraph {
  position: sticky;
  top: 0;
}
