$engine_selector: ".lineup-engine" !default;
$engine_assets: "./assets" !default;
$engine_loading_image: url('#{$engine_assets}/loading.svg') !default;
$engine_loading_static_image: url('#{$engine_assets}/loading_s.svg') !default;
$engine_hover_outline_width: 2px !default;
$engine_hover_outline_color: $engine_hover_outline_width solid orange !default;
