$engine_selector: ".lineup-engine";
$engine_assets: "./assets";
$engine_even_color: lightgray;
$engine_loading_image: url('$engine_assets/loading.svg');
$engine_loading_static_image: url('$engine_assets/loading_static.svg');
$engine_hover_outline_color: 2px solid orange;
