.lineup-engine {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;

  > header {
    flex: 0 0 auto;
    overflow-x: hidden;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  > main {
    flex: 1 1 auto;
    overflow-y: auto;

    > article {
      &:not(.odd) > div:nth-child(even),
      &.odd > div:nth-child(odd),
      &:not(.odd) > div:nth-child(even) > *.frozen,
      &.odd > div:nth-child(odd) > *.frozen {
        background-color: lightgray;
      }
    }

    > .slopegraph {
      background-color: steelblue;
    }
  }

  > header,
  > main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    > article {
      flex: 0 0 auto;
    }

    > .slopegraph {
      flex: 0 0 auto;
      width: 200px;
      min-height: 1px;
    }
  }

  &:not(.ms-edge) > main > .slopegraph {
    position: sticky;
    top: 0;
  }

  > header > article,
  > main > article > div {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-column-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    justify-items: stretch;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;

      &.frozen {
        background-color: white;
      }
    }
  }

  &:not(.ms-edge) > header > article,
  &:not(.ms-edge) > main > article > div {
    > .frozen { // frozen one
      position: sticky;
      left: 0;
    }
  }

  .loading {
    background-image: url('./assets/loading_static.svg');
    background-blend-mode: overlay;
    background-size: contain;
    background-repeat: repeat no-repeat;
    background-position: center;
  }

  &:not(.animated) .loading > * {
    opacity: 0;
  }

  &.animated {
    > header > article > *,
    > main > article > div > * {
      transition: opacity 0.5s;
      opacity: 1;
    }

    .loading {
      background-image: url('./assets/loading.svg');
    }

    > .loading > * {
      opacity: 0;
    }
  }
}
