
.lineup-engine {
  height: 90vh;
  max-width: 100vw;
}

article > div {
  .bar {
    position: relative;
    background: steelblue;
    color: transparent;
  }


  &:hover {
    .bar {
      color: black;
    }
  }
}
